.main{
    -fx-background-color: #EBEEF2;

}

.menu-images{


}
.grid-pane{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.13), 20, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-prompt-text-fill: #808698;
    -fx-alignment: center-left;



}
#gridpane .table-view {
    /*camada por trás da tabela*/
    -fx-background-color: #FFFFFF;
    -fx-vertical-grid-lines-visible: true;
    -fx-vertical-grid-line-color:#5C83D8;
    -fx-border-width: 0;
    -fx-background-radius: 0 0 10 10;
}
#gridpane .table-view .column-header{
    /*tabela*/
    -fx-text-fill: #808698;
    -fx-background-color: #EBEEF2;
    -fx-alignment: center;
    -fx-vertical-grid-lines-visible: true;

}

.table-view .table-column{
    -fx-padding: 50 0 0 25;
    -fx-border-radius: 0 0 10 10;
    -fx-border-color: transparent;
    -fx-vertical-grid-lines-visible: true;
    -fx-vertical-grid-line-color:#5C83D8;
    -fx-font-size: 12px;
    -fx-alignment: center-left;



}

.table-view .scroll-bar {
    -fx-background-color: #EBEEF2;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #EBEEF2;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-color: #EBEEF2;
}

.new-order-button{
    -fx-background-color: #5C83D8;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;


}
.filter-button{
    -fx-prompt-text-fill: #B1BCCB;
    -fx-border-width: 2px;
    -fx-border-color: #EBEEF2;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
}
.search-button {
    -fx-prompt-text-fill: #B1BCCB;
    -fx-background-color: #EBEEF2;
    -fx-border-radius: 1;
}
.label{
    -fx-text-fill: #B1BCCB;
    -fx-font-weight: bold;
}
.menu_button{
    -fx-padding: 0px 0px 0px 30px;
    -fx-graphic-text-gap: 10px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #808698;

}
.menu_button:hover{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #5C83D8;
}
.close-button{
    -fx-background-color: transparent;
}